nav {
  height: 100px;
  background: rgb(208, 208, 208);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.man{
    display: flex;
    width: 1920px;
    height: 1626px;
    background: rgb(208, 208, 208);
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(226, 226, 226);
    
}
.man1{
    padding-top: 50px;
    width: 1440px;
    height: 340px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}
.man2
{
    width: 1440px;
    height: 1156px;
    border-radius: 24px;
    background: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.min2{
    width: 952px;
    height: 1156px;
    border-radius: 12px;
    background: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 17px;
}
.mimi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.mini{
    height: 280px;
    width: 300px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 24px;
    gap: 24px;
    position: relative; 
}
.migi{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 15px;
}
.name{
    display: flex;
    flex-direction: column;
}
span {
  position: absolute;
  right: 0;
  top: 0;
  height: 26px;
  background: blue;
  border-radius: 24px;
  color: white;
  padding: 0 10px;
  transform: rotate(15deg);
}

