
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    width: 750px;
    margin: 0 auto;
    padding: 80px 80px;
}
p {
  font-size: 11px;
  line-height: 23px; 
}
h1, h2, h3, h4, h5, h6 {
  font-size: 17px;
  line-height: 19px; 
}
p + :is(h1, h2, h3, h4) {
  margin-top: 64px;
}
:is(h1, h2, h3, h4) + p {
  margin-top: 28px;
}
h1, h2, h3, h4 {
  margin: 0;
}
ol {
  font-size: 11px;
  line-height: 23px; 
}

:is(h1, h2, h3, h4) ~ :is(h1, h2, h3, h4) {
  margin-top: 40px;
}
blockquote {
    font-size: 11px;
  line-height: 23px; 
}
img + :is(h1, h2, h3, h4, p) {
  margin-top: 90px;
}
p + img {
  margin-top: 90px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 40px auto;
  
}
img {
  filter: sepia(1) hue-rotate(220deg) saturate(3) brightness(0.8);
}
